<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interfaces.dao.MusicListDao">

	<!-- 定义一个查询语句获取所有项目信息 -->
	<select id="findMusicList" resultType="model.Music">
		select * from PlayList
	</select>
	
	<!-- 批量插入 -->
	<insert id="saveHotMusicList" parameterType="java.util.List">
		INSERT INTO HotRank (RankNum,Song,url,SongTime,Singer,addtime,uptime,songId,img)
		VALUES
		<foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.RankNum},#{item.Song},
			#{item.url},#{item.SongTime},#{item.Singer},
			#{item.addtime},#{item.uptime},#{item.songId},#{item.img})
		</foreach>
	</insert>

	<!-- 批量更新 -->
	<update id="updateHotMusicList" parameterType="java.util.List" >
		<foreach collection="list" index="index" item="item"
			separator=";">
			update HotRank set
			RankNum=#{item.RankNum},
			Song=#{item.Song,jdbcType=NVARCHAR},
			url=#{item.url},
			SongTime=#{item.SongTime},
			Singer=#{item.Singer},
			uptime=#{item.uptime},
			songId=#{item.songId}
			where id=#{item.id}
		</foreach>
	</update>
	
	<!-- 查询热歌榜 -->
	<select id="findHotMusicList" resultType="model.HotMusic">
		SELECT * FROM HotRank
	</select>


	<!-- 批量删除音乐 -->
	<!-- separator:中间分隔符 collection:表示类型,这里参数是数组,就写成array,如果是集合,就写成list -->
	<delete id="deleteHotMusicList" parameterType="java.util.List">
		delete from HotRank where id in
		<foreach item="id" collection="list" open="(" separator=","
				 close=")">
			#{id}
		</foreach>
	</delete>


	<!--删除列表-->
	<delete id="deleteHotMusic">
		DELETE FROM HotRank
	</delete>
	
	<!--分页查询热歌榜-->
	<select id="queryHotMusic" resultType="model.HotMusic" parameterType="model.paging.PagingTransmission">
		select
			TOP (${pagingTransmission.size})  * ,( select  count(*)   from  HotRank   where 1=1 ) pagingParametersCount
		from
			(SELECT ROW_NUMBER() OVER (ORDER BY   a.RankNum   ASC ) AS RowNumber,* FROM
				(  select  *   from  HotRank   where 1=1  ) a )   as A    where 1=1  and RowNumber > ((${pagingTransmission.size})*(${pagingTransmission.page}))
	</select>

</mapper>

